/* Styles for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
}

.nav-left {
    display: flex;
    height: auto;
    width: 80px;
}

.nav-left i {
    font-size: 45px;
    color: #0508be;
    margin-right: 15px;
}

.nav-left span {
    font-size: 35px;
    color: #000000;
    padding: 3px 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-center {
    display: flex;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 22px;
    font-weight:400;
}

.nav-link:hover {
    text-decoration: underline;
    color: #0508be;
}

.nav-right {
    display: flex;
}
.nav-button1 {
    color: black;
    border: solid 5px black;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}

.nav-button {
    color: white;
    background-color: #0508be;
    border: solid 2px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
}

.nav-button:hover {
    background-color: #0f7b22;
}

.header {
    background-color: rgb(255, 217, 0);
    margin-top: 25px;
    height: 40px;
}

.header p {
    display: flex;
    justify-content: center;
    color: #000000;
    padding-top: 10px;
    font-weight: bold;
}

.contains {
    display: flex;
    justify-content: flex-start;
    padding: 200px;
    padding-top:120px ;
    background-color: #f9f9f9;
}

.left {
    max-width: 400px;
    padding-left: 150px;
}

.left .cl1 {
    font-size: 30px;
    color: orangered;
    font-weight: 200;
}

.left .cl2 {
    font-size: 50px;
    font-weight: 700;
}

.left .button {
    display: inline-block;
    color: #000000;
    background-color: rgb(255, 217, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.left i {
    font-size: 24px;
    color: #0508be;
    margin-right: 10px;
    border: solid 1px rgb(75, 75, 244);
    border-radius: 50%;
    padding: 8px;
    background-color:  rgb(160, 160, 215);
}
.left span {
    font-size: 18px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}

.left .fa-play {
    vertical-align: middle;
}

.right {
    padding-left: 250px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 70px 70px;
    justify-content: flex-end;
}

.right img {
    max-width: 100%;
    height: auto;
    transform: scale(1.2);
    transform-origin: center;
}

.right .fig1 {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 200px;
    width: 200px;
}

.right .fig2 {
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.right .fig3 {
    border-radius: 5px;
    height: 200px;
    width: 200px;


    
}

.right .fig4 {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 200px;
    width: 200px;
}


.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #0508be;
    padding: 20px;
    color: #ffffff;
}

.dashboard>div {
    text-align: center;
    flex: 1;
    padding: 10px;
    margin: 0 10px;
}

.dashboard p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard p:last-child {
    font-size: 16px;
    color: #f9f9f9;
}
.dashboard .barre{
    position: relative;
    padding-left: 10px;
}
.dashboard .barre ::before{
    content: '';
    position: absolute;
    left: 100px;
    top: 35px;
    bottom: 0;
    width:2px;
    height: 60px;
    background-color: white;
}

.before-card {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    font-size: 20px;
    color: #333;
    background-color: #ffffff;
}

.before-card p:first-child {
    color: orangered;
    font-size: 40px;
    font-weight: 500;
}

.before-card p:last-child {
    font-weight: bold;
    font-size: 30px;
    width: 500px;
    padding-left: 320px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon i {
    display: flex;
    padding: 8px;
    font-size: 35px;
    border-radius: 5px;
    color:white;
    margin: 5px;
    text-align: center;
    line-height: 1;
}
.card .icon:nth-child(1){
    background-color:  #002aff;
}
.card .icon:nth-child(2) {
    background-color: #28a745;
}

.card .icon:nth-child(3) {
    background-color: orangered;
}
.card .icon:nth-child(4) {
    background-color: #ffc107;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.bold-text {
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
}

.normal-text {
    font-weight: normal;
    color: #666;
    font-size: 16px;
}

.after-card {
    display: flex;
    justify-content: center;
    width: calc(80% - 50px);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 50px;
    margin-left: 380px;
    transform: scale(1.2);
    transform-origin: center;
}

.after-card .after-left,
.after-card .after-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.after-card .after-left {
    padding-right: 30px;
}

.after-card .after-left img {
    position: relative;
    max-width: 100%;
    align-self: flex-start;

}
.image1,.image3{
    border-radius: 10px;
    height: 250px;
    width: 250px;
}
.image2{
    top: -190px;
    left: 150px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: solid 2px orangered;
    top: -150px;
    
}
.image4{
    top: -190px;
    left: 150px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.after-card .after-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:150px;
    margin-top: 30px;
    
}

.after-card .after-right p {
    margin-bottom: 15px;
}

.after-card .cl1 {
    font-size: 25px;
    color: orangered;
    font-weight: 400;
}

.after-card .cl2 {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    width: 400px;
}

.after-card .cl3 {
    font-size: 16px;
    margin-top: 15px;
    width: 500px;
}

.after-card .button {
    display: inline-block;
    color: #000000;
    background-color: rgb(255, 234, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
}

.subject-part {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    font-size: 20px;
    color: #333;
    background-color: #ffffff;
}

.subject-part p:first-child {
    font-size: 30px;
    font-weight: 300;
    color: orangered;
}

.subject-part p:last-child {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}

.subject-part {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.subject-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.titre {
    text-align: center;
    margin-bottom: 30px;
}

.title-main {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.title-sub {
    font-size: 16px;
    color: #555;
}

.subject {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px;
    flex-direction: row;
}

.item i {
    font-size: 24px;
    margin-right: 10px;
}


.item span {
    font-size: 14px;
    color: #000;
}

.engineering-icon {
    color: #007bff;
}

.programming-icon {
    color: #28a745;
}


.language-icon {
    color: #ffc107;
}

.science-icon {
    color: #dc3545;
}

.history-icon {
    color: #17a2b8;
}

.psychology-icon {
    color: #fd7e14;
}

.web-design-icon {
    color: #6f42c1;
}
.see-all-icon {
    color: #000000;
}

.profils {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profils img:nth-child(2) {
    width: 200px; 
}
.profils img:first-child,
.profils img:last-child {
    width: 100px; 
    height: 100px;
    margin: 0 10px;
    padding-top: 80px; 
}
.details{
    position: absolute;
    width: 1134px;
    height: 77px;
    left: 20.5%;
    top: 3120px;
    margin-bottom: 20px;
    margin-top: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    padding-top: 180px;
}
.details p:first-child{
    font-weight:800;
    font-size: 25px;
}
.details p:last-child{
    font-size: 15px;
}
.footer{
    height: 50px;
    background-color: #0508be ;
    margin-top: 200px;
}